[user]
    email = git@spsjvc.com
    name = spsjvc

[core]
    editor = vim
    pager = delta

[color]
    ui = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[delta]
    navigate = true
    hyperlinks = true
    line-numbers = true

[color "diff"]
    meta = yellow bold ul
    frag = cyan bold ul
    old = red bold
    new = green bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[alias]
    a = add
    b = checkout -b
    c = commit --allow-empty --gpg-sign -m
    commit-generate = !source ~/Code/github.com/spsjvc/dotfiles/utils/git-commit-generate.sh && git_commit_generate
    cg = commit-generate
    co = checkout
    d = diff
    ds = diff --staged
    f = fetch
    fpush = push --force
    # Example output:
    #
    # * 6d1060b Update Ghostty config with platform-specific sections (HEAD -> main, origin/main, origin/HEAD)
    # | 3 weeks ago by spsjvc
    # * 51d807c Add setup script for platform-specific VS Code keybindings
    # | 3 weeks ago by spsjvc
    # * 2d3bd06 Add setup script for zsh plugins
    # | 3 weeks ago by spsjvc
    l = log --abbrev-commit --graph --pretty=format:'%C(auto)%h %s%d%n%C(dim white)%ar by %an'
    p = add --patch
    r = reset HEAD
    s = status
    u = reset --soft HEAD^
    wt = worktree

[commit]
    gpgsign = true

[init]
    defaultBranch = main
