[user]
    email = git@spsjvc.com
    name = spsjvc

[core]
    editor = vim
    pager = delta

[color]
    ui = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[delta]
    navigate = true
    hyperlinks = true
    line-numbers = true

[color "diff"]
    meta = yellow bold ul
    frag = cyan bold ul
    old = red bold
    new = green bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[alias]
    a = add
    b = checkout -b
    c = commit --allow-empty --gpg-sign -m
    commit-generate = !source ~/Code/github.com/spsjvc/dotfiles/utils/git-commit-generate.sh && git_commit_generate
    cg = commit-generate
    co = checkout
    d = diff
    ds = diff --staged
    f = fetch
    fpush = push --force
    # Example output:
    #
    # * 5101376 Update tmux config to use vim keybindings in copy mode (HEAD -> main) 27 hours ago by spsjvc
    # * 683dd2f Remove resize mode from i3 keybindings config 2 days ago by spsjvc
    # * 576233a Update tmux config with status bar adjustments 3 days ago by spsjvc
    l = log --abbrev-commit --graph --pretty=format:'%C(auto)%h %s%d %C(dim white)%ar by %an'
    p = add --patch
    r = reset HEAD
    s = status
    u = reset --soft HEAD^
    wt = worktree

[commit]
    gpgsign = true

[init]
    defaultBranch = main
